  <div class="h-svh flex items-center my-auto pt-24 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

      <div class="lg:text-center">
        <h2
          class="font-heading mb-4 bg-blue-800 text-cyan-300 px-4 py-2 rounded-lg md:w-64 md:mx-auto text-sm font-bold tracking-widest uppercase title-font">
          What is this about?
        </h2>
        <p class="font-heading mt-2 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl">
          I am a learning web developer trying to prove my skills
        </p>
        <div class="mt-4 max-w-2xl text-lg text-gray-500 lg:mx-auto">
          I have created ThreadNet - an application meant to display my ability to
          <span class="font-semibold text-gray-800 text-2xl"> architect, develop and deploy </span>
          <p> a full stack web application </p>
        </div>
      </div>

      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-8">
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                <img src="https://www.svgrepo.com/show/55835/asp-file-format-symbol.svg">
              </div>
              <a href="https://github.com/cosminmarinica153/ThreadNet-backend" class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700"> ASP.NET Core Web API </a>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              I have developed my own web api using <span class="font-semibold text-gray-800"> .NET 8 </span> to satisfy all the
              <span class="font-semibold text-gray-800"> CRUD </span>
              operations my frontend may need and succesfully <span class="font-semibold text-gray-800"> deployed </span> it
              using <span class="font-semibold text-gray-800"> Microsoft Azure Services </span>
            </dd>
          </div>
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                <img src="https://www.svgrepo.com/show/503165/angular.svg">
              </div>
              <a href="https://github.com/cosminmarinica153/ThreadNet-frontend"
                 class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700"> Angular framework </a>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              The framework of choice for my frontend was <span class="font-semibold text-gray-800"> Angular 16 </span>
              (later upgraded to angular 17) because of it's
              <span class="font-semibold text-gray-800"> versatility, reactivness and component-driven developement </span>
            </dd>
          </div>
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                <img src="https://www.svgrepo.com/show/478550/laptop-material-4.svg">
              </div>
              <p class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700">What I have learnt
              </p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              Developing <span class="font-semibold text-gray-800"> ThreadNet </span> has made me face a
              multitude of challenges. Picking up
              <span class="font-semibold text-gray-800"> Angular </span> with
              <span class="font-semibold text-gray-800"> TypeScript </span> and
              <span class="font-semibold text-gray-800"> .NET </span> with
              <span class="font-semibold text-gray-800"> C# </span> was overwhelming at first,
              but it made me understand what <span class="font-semibold text-gray-800"> web developement </span>
              is about <br/>
            </dd>
          </div>
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                <img src="https://www.svgrepo.com/show/200852/fast-forward.svg">
              </div>
              <p class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700"> What's next?
              </p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              The next project on my list is a <span class="font-semibold text-gray-800"> data structure visualiser </span>
              with <span class="font-semibold text-gray-800"> python 3.8 </span>, meant to make understanding core algorithms better
              while also strengthening my knowledge of python libraries and practices
            </dd>
          </div>
          <div class="relative col-span-2 ">
            <dt class="flex justify-center gap-2">
              <a class="size-10" href="https://github.com/cosminmarinica153">
                <img src="https://www.svgrepo.com/show/512317/github-142.svg">
              </a>
              <a class="size-10" href="https://www.linkedin.com/in/marinica-george-cosmin-2867b9225/">
                <img src="https://www.svgrepo.com/show/494278/linkedin-round.svg">
              </a>
              <a class="size-10" href="https://drive.google.com/file/d/1khqaBn6zBXkrVVDhokVmC3TlaG0Ay3DA/view?usp=sharing">
                <img src="https://www.svgrepo.com/show/501232/info.svg">
              </a>
            </dt>
          </div>
        </dl>
      </div>

    </div>
  </div>
